@font-face {
  font-family: Mont;
  src: url(../Montserrat-VariableFont_wght.ttf);
}

html {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}

ul li:nth-child(even) {
  text-decoration: underline;
}

ul li:nth-child(odd)::marker {
  content: "■ ";
}

ul li:nth-child(3n + 0) {
  color: #311b92;
  font-family: Mont;
}

ul li:nth-child(5n + 0) {
  background-color: #fff176;
}

ul li:nth-child(7n + 0) {
  font-size: 1.6em;
}

ul li:first-child {
  color: #e53935;
}

ul li:nth-child(4n + 0) {
  letter-spacing: 6px;
}

ul li:nth-child(13n + 0) {
  background-color: #ff8a80;
}
