h1 {
  font-size: 48px;
  background-color: #333;
  color: white;
  text-shadow: 10px 0 10px black;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 p {
  word-spacing: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-indent: 50px;
}

h2 {
  text-shadow: 5px 1px 2px gray;
  letter-spacing: 10px;
}

article p {
  background-color: gray;
}

div p {
  background-color: #333;
  color: white;
}
