section {
  height: 100vh;
  background-image: url("https://assets-global.website-files.com/62d9141584e7b750edcafa6a/646e2277751063a6a15a6e80_646cf5b923ba35bc3d3b240f_CSS-Einfuehrung-Background-Level-3_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
