section {
  background-color: linen;
}

section h1 {
  background-color: lightblue;
}

article {
  background-image: url("https://images.unsplash.com/photo-1535463731090-e34f4b5098c5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlfHx8fHx8MTY5MTU3NDM0Ng&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
}
